@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500&display=swap');


*
{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    color: rgba(255, 255, 255, 0.9);
    background-color: #0d0d0d;
}

.logo {
    font-weight: 600;
    font-size: 36px;
    width: 150px;
    line-height: 35px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 19;
    padding: 2vh 2vw;
    margin: 12px 0px;
}
@media only screen and (max-width: 768px){
    .logo {
        font-size: 26px;
    }
    }
div.main-content{
    text-align: right;
    position: relative;
    z-index: 2;
    height: 100vh;
    float: right;
    width: 100%;
    max-width: 88.88889%;
    padding-left: 6.66667%;
    padding-right: 4.44444%;
}
@media only screen and (max-width: 768px){
div.main-content {
    max-width: 100%;
    margin-top: 150px;
    padding-left: 0;
    padding-right: 18px;
    height: 78vh;
}
}
h1.main-text{
    font-weight: bolder;
    font-size: 7.63889vw;
    transition: all 0.6s ease-in-out;
    line-height: 1em;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
@media only screen and (max-width: 768px){
    h1.main-text {
    font-size: 2.5rem;
}
}
.button {
    border: 2px solid #fff;
    border-radius: 0px !important;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease-out 0.4s !important;
    padding: 1vh 1vw;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    text-transform: capitalize;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: monospace;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #0d0d0d !important;
    border-color: #f8f9fa !important;
}